PROJECT_NAME="Cognita Core API"
POSTGRES_USER=cognita_user
POSTGRES_PASSWORD=cognita_password
POSTGRES_DB=cognita_core_db
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
RABBITMQ_USER=cognita_user
RABBITMQ_PASSWORD=cognita_password
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:5672/
